<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ollas Comunes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:url"                content="http://ollascomunes.gpvlima.com/" />
        <meta property="og:type"               content="article" />
        <meta property="og:title"              content="#AdoptAPot" />
        <meta property="og:description"        content="The Municipality of Lima created the #AdoptaUnaOlla (#AdoptAPot) campaign to support vulnerable Peruvian families in areas disproportionately affected by the COVID-19 pandemic. " />
        <meta property="og:image"              content="{{base_url()}}/images/popup.jpg" />
        <!-- LIBRARY FONT-->
        <link type="text/css" rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,300">
        <!-- LIBRARY CSS-->
        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/jquery.selectbox.css">

        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/jquery.fancybox.css">
        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/jquery.fancybox-buttons.css">
        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/mediaelementplayer.min.css">

        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/animate.css">
        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/Glyphter.css">
        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/font-awesome.css">
        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/libs/bootstrap-3.3.5/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/style.css?v=1.5">
        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/owl.carousel.css">
        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/modals.css">
        <link type="text/css" rel="stylesheet" href="{{ base_url() }}/css/jquery.dataTables.min.css">

        <link type="text/css" rel="stylesheet"
              href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

        <script src="{{ base_url() }}/js/jquery-3.3.1.min.js"></script>
        <script src="https://apis.google.com/js/client.js"></script>

        <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
        <!--<script src="{{ base_url() }}/js/jquery-2.1.4.min.js"></script>-->
        <script src="{{ base_url() }}/js/js.cookie.js"></script>
        <script src="{{ base_url() }}/js/ckeditor/ckeditor.js"></script>
         <script src="https://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&amp;key=AIzaSyBOto-hKdu-7-z4FolFfAgA6ppzmpP303Y"
            type="text/javascript"></script>
        <style>
            .intro-edu  .resaltar {
                margin-bottom: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
                border-radius: 50px;
                color: #094a82;
                background: #ffffff;
                text-transform: initial;
                box-shadow: 0px 2px 0px 0 rgb(242 145 1);
            }
        </style>



    </head>
    <header>

        <div class="header-topbar">
            <div class="container">
                <div class="topbar-left pull-left">
                    <div class="socials">
                        <span class="btn btn-default" onclick="window.location.href = '{{ path_for('english') }}';" data-parent="#accordion" data-toggle="collapse"><img width="20px" src="{{ base_url() }}/images/eeuu.png"> English</span>
                        <span class="btn btn-default" onclick="window.location.href = '{{ path_for('home') }}';" data-parent="#accordion" data-toggle="collapse"><img width="20px" src="{{ base_url() }}/images/spain.png"> Spanish</span>
                    </div>
                </div>

                <div class="topbar-right pull-right">
                    <div class="socials group-sign-in">
                        <a target="_blank" href="https://www.facebook.com/MuniLima" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCJ3f5r4cWt0aB_wRZPSejWQ" class="youtube"><i class="fa fa-youtube"></i></a>
                        <a target="_blank" href="https://twitter.com/MuniLima" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://www.instagram.com/munlima/" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="header-main homepage-01">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="navbar-heade">
                        <div class="logo pull-left"><a href="/" class="header-logo"><img src="http://ruos.gpvlima.com/images/logo.png" alt=""></a></div>
                        <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle edugate-navbar">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <nav class="navigation collapse navbar-collapse pull-right">
                        <ul class="nav-links nav navbar-nav">
                            <li><a href="{{ path_for('home') }}" class="main-menu">Inicio </a></li>
                            <li><a href="{{ path_for('registro') }}" class="main-menu">Registra tu olla</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </header>

    <body  oncopy="return false" onpaste="return false">

        <div class="section edu-feature" id="fondo">
            <div class="container" >
                <div class="edu-feature-wrapper" >
                    <div class="row">
                        <div class="col-md-12"><img src="{{ base_url() }}/images/portada.jpg" class="computer-image" alt=""/></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section intro-edu" >
            <div class="container">
                <div class="intro-edu-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <div class="resaltar intro-title">What is #AdoptaUnaOlla?</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="intro-content">
                                    <p>The Municipality of Lima created the #AdoptaUnaOlla (#AdoptAPot) campaign to support vulnerable Peruvian families in areas disproportionately affected by the COVID-19 pandemic. </p>
                                    <p>We face a tough economic crisis. Many families have lost their jobs, and this has made it more difficult for them to buy food, so local communities banded together to create what are known in Peru as "ollas comunes", translated to English as "communal pots" or "soup kitchens". An "olla común" is a small local organization of families from the same neighborhood pool their money to buy food for everyone. While "ollas comunes" are able to feed more people, food remains scarce.</p>
                                    <p>Through #AdoptaUnaOlla, we collect donations to buy enough food to supply the over 1,000 "ollas comunes" across our city (see the map below). We need your help to provide them the food they need. Donate to #AdoptaUnaOlla today.</p>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <video src="video/olla.mp4" width=100%  height=auto controls poster="video/preview.jpg">
                                    Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.<br>
                                    La versión descargable está disponible en <a href="URL">Enlace</a>.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-padding edu-ab intro-edu">
            <div class="container">
                <div class="intro-edu-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="resaltar intro-title">How to take part?</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5"><img src="{{ base_url() }}/images/llamadav1.png" alt="" class="intro-image fadeInLeft  wow animated"></div>
                            <div class="col-md-7">
                                <div class="llamada"><b>Contact us now!</b></div>
                                <h1 class="telefono"><img style="max-width: 45px;" src="{{ base_url() }}/images/whatsapp.png" alt=""/>+51 976 530 794</h1>
                                <div class="intro-content"><p>Or email us:  &nbsp;<span class="spanazul"><a href="mailto:adoptaunaolla@munlima.gob.pe"><img style="max-width: 36px;" src="{{ base_url() }}/images/correoi.png" alt=""/> adoptaunaolla@munlima.gob.pe</span> </a></p> </div>
                                <div class="llamada"><b style="color: #f1960c;">Donations!</b></div>
                                <center>
                                    <div class="registro-uno">
                                        <div class="logo-b">
                                            <img src="{{ base_url() }}/images/banco.png" alt="Banco continental">
                                        </div>
                                        <div class="numero-cuenta">
                                            <div class="contenido">
                                                <p><strong>BBVA (Bank account) </strong></p>
                                                <p>Bank Account: </p>
                                                <strong>0011-0121-0100018789</strong>
                                                <p>SWIFT: BCONPEL</p>
                                                <strong>Address: Jr. Conde de Superunda 449, Lima.</strong>
                                            </div>
                                        </div>

                                    </div>

                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section intro-edu" style="    background: #FFFAF0;" id="mapa">
            <div class="container">
                <div class="intro-edu-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="resaltar intro-title">COMMUNAL POTS GEO-LOCATOR</div>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="intro-content">
                                <div class="section contact-map">
                                    <div style="height: 650px;">
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section section-padding picture-gallery intro-edu edu-ab">
            <div class="container">
                <div class="intro-edu-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="resaltar intro-title">GALLERY</div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="picture-gallery-wrapper"><!-- Nav tabs-->
                                <div class="tab-content gallery-content">
                                    <div id="education" role="tabpanel" class="tab-pane fade in active">
                                        <div class="grid" style="position: relative; height: 556.125px;">
                                            <div class="grid-item grid-item-height3" style="position: absolute; left: 0px; top: 0px;"><a href="images/fotos/7.jpg" class="content fancybox-button"><img src="images/fotos/7s.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height2" style="position: absolute; left: 370px; top: 0px;"><a href="images/fotos/8s.jpg" class="content fancybox-button"><img src="images/fotos/8.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height2" style="position: absolute; left: 1112px; top: 185px;"><a href="images/fotos/12.jpg" class="content fancybox-button"><img src="images/fotos/12s.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height3" style="position: absolute; left: 741px; top: 0px;"><a href="images/fotos/9.jpg" class="content fancybox-button"><img src="images/fotos/9s.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height1" style="position: absolute; left: 370px; top: 370px;"><a href="images/fotos/10.jpg" class="content fancybox-button"><img src="images/fotos/10s.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height1" style="position: absolute; left: 1112px; top: 0px;"><a href="images/fotos/11.jpg" class="content fancybox-button"><img src="images/fotos/11s.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height1" style="position: absolute; left: 1112px; top: 0px;"><a href="images/fotos/4.jpeg" class="content fancybox-button"><img src="images/fotos/4s.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height2" style="position: absolute; left: 370px; top: 0px;"><a href="images/fotos/2.jpeg" class="content fancybox-button"><img src="images/fotos/2s.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height3" style="position: absolute; left: 0px; top: 0px;"><a href="images/fotos/6.jpeg" class="content fancybox-button"><img src="images/fotos/6s.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height3" style="position: absolute; left: 741px; top: 0px;"><a href="images/fotos/3.jpeg" class="content fancybox-button"><img src="images/fotos/3s.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height2" style="position: absolute; left: 1112px; top: 185px;"><a href="images/fotos/5.jpeg" class="content fancybox-button"><img src="images/fotos/5s.jpg" alt="" class="img-responsive"></a></div>
                                            <div class="grid-item grid-item-height1" style="position: absolute; left: 370px; top: 370px;"><a href="images/fotos/1.jpeg" class="content fancybox-button"><img src="images/fotos/1s.jpg" alt="" class="img-responsive"></a></div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background: #00A7A0; color: white;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                        <h4 class="modal-title" id="myModalLabel">¡Join Adopta una Olla! </h4>
                    </div>
                    <div class="modal-body">
                        <img src="{{base_url()}}/images/popv5.jpg" width="100%">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-main">
            <div class="container">
                <div class="hyperlink">
                    <div class="pull-left hyper-left">
                        <ul class="list-inline">
                            <li class="iconfoot"><a target="_blank" href="https://www.facebook.com/MuniLima"><i class="fa fa-facebook"></i></a><a target="_blank" href="https://www.facebook.com/MuniLima" class="socialfoot"> Municipalidad de Lima</a></li>
                            <li class="iconfoot"><a target="_blank" href="https://twitter.com/MuniLima"><i class="fa fa-twitter"></i></a><a target="_blank" href="https://twitter.com/MuniLima" class="socialfoot">@MunLima</a></a></li>
                            <li class="iconfoot"><a target="_blank" href="https://www.youtube.com/channel/UCJ3f5r4cWt0aB_wRZPSejWQ"><i class="fa fa-youtube"></i></a><a target="_blank" href="https://www.youtube.com/channel/UCJ3f5r4cWt0aB_wRZPSejWQ" class="socialfoot">Municipalidad de Lima</a></li>
                            <li class="iconfoot"><a target="_blank" href="https://www.instagram.com/munlima/"><i class="fa fa-instagram"></i></a><a target="_blank" href="https://www.instagram.com/munlima/" class="socialfoot">Munlima</a></li>
                        </ul>
                    </div>
                    <div class="pull-right hyper-right"><img  style="max-width:115px"src="images/logoblanco.png" alt=""/></div>
                </div>
            </div>
        </div>

    </body>

    <script>

        $(window).on('load', function () {
            $('#myModal').modal('show');
        });

        $(document).ready(function () {

            $.ajax({
                type: 'get',
                url: 'listaollas',
                data: {},
                beforeSend: function (e) {
                },
                success: function (data) {
                    var bounds = new google.maps.LatLngBounds();
                    var mapOptions = {
                        mapTypeId: 'roadmap'
                    };
                    map = new google.maps.Map(document.getElementById('map'), {
                        mapOptions
                    });

                    map.setTilt(50);
                    var mostrarMarcadores = new google.maps.InfoWindow(),
                            data, i;

                    $.each(data, function (i, item) {
                        var position = new google.maps.LatLng(item.latitud, item.longitud);
                        bounds.extend(position);

                        var img_icono = "{{ base_url() }}/images/ollav5.png";

                        marker = new google.maps.Marker({
                            position: position,
                            map: map,
                            title: item.latitud,
                            icon: img_icono

                        });
                        var c = '<div id="iw-container" class="mayus">' +
                                '<div class="iw-title">' + item.nombre_olla + '</div>' +
                                '<div class="iw-content">' +
                                '<table class="table table-bordered" cellpadding="5">' +
                                '<tbody><tr>' +
                                '<th><b>NOMBRE:</b> </th>' +
                                '<td>' + item.nombre_olla + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th valign="top" align="left"><b>DISTRITO:</b> </th>' +
                                '<td valign="top">' + item.distrito + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th valign="top" align="left"><b>DIRECCIÓN:</b> </th>' +
                                '<td valign="top">' + item.ubicacion + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th valign="top" align="left"><b>NÚMERO DE PERSONAS BENEFICIADAS:</b> </th>' +
                                '<td valign="top">' + item.total_beneficiadas + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th valign="top" align="left"><b>CONTACTO:</b> </th>' +
                                '<td valign="top">' + item.nombre_contacto + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th valign="top" align="left"><b>TELÉFONO:</b> </th>' +
                                '<td valign="top">' + item.celular_contacto + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '</tr>' +
                                '</tbody>' +
                                '</table>' +
                                '<img src="' + item.foto + '" width="100%" height="auto">' +
                                '</div>';


                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                mostrarMarcadores.setContent(c);
                                mostrarMarcadores.open(map, marker);
                            }
                        })(marker, i));
                        // Centramos el Mapa de Google para que todos los marcadores se puedan ver
                        map.fitBounds(bounds);
                    });

                    var src = "";

                    var kmlLayer = new google.maps.KmlLayer(src, {
                        suppressInfoWindows: true,
                        preserveViewport: true,
                        map: map
                    });
                    // Aplicamos el evento 'bounds_changed' que detecta cambios en la ventana del Mapa de Google, también le configramos un zoom de 14
                    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                        this.setZoom(11);
                        google.maps.event.removeListener(boundsListener);
                    });
                },
                error: function () {
                }
            });
        });

    </script>

    <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/js/owl.carousel.min.js"></script>
    <script src="{{ base_url() }}/js/jquery.appear.js"></script>
    <script src="{{ base_url() }}/js/jquery.countTo.js"></script>
    <script src="{{ base_url() }}/js/wow.min.js"></script>
    <script src="{{ base_url() }}/js/jquery.selectbox-0.2.min.js"></script>
    <script src="{{ base_url() }}/js/jquery.fancybox.js"></script>
    <script src="{{ base_url() }}/js/jquery.fancybox-buttons.js"></script>
    <!-- MAIN JS-->
    <script src="{{ base_url() }}/js/main.js"></script>
    <!-- LOADING SCRIPTS FOR PAGE-->
    <script src="{{ base_url() }}/js/isotope.pkgd.min.js"></script>
    <script src="{{ base_url() }}/js/fit-columns.js"></script>
    <script src="{{ base_url() }}/js/homepage.js"></script>

    <script src="https://aplicativos.munlima.gob.pe/js/aplicativo/google-map-infobox.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>



</html>
