{% extends 'templates/app.twig' %}
{% block content %}


    <style>
        .spanceleste {
            font-size: 17px;
            font-weight: 900;
            color: #00A7A0;
        }

        .spanazul {
            font-size: 17px;
            font-weight: 900;
            color: #004986;
        }
        infowindow {
            height:650px;
            overflow-y:auto;
        }
        #map {
            margin: 0;
            padding: 0;
            height: 600px;
            max-width: none;
        }
        #map-canvas img {
            max-width: none !important;
        }
        .gm-style-iw {
            width: 350px !important;
            top: 15px !important;
            left: 0px !important;
            height: 3500px;
            background-color: #fff;
            box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
            border: 1px solid rgba(72, 181, 233, 0.6);
            border-radius: 2px 2px 10px 10px;
        }
        #iw-container {
            margin-bottom: 10px;
        }
        #iw-container .iw-title {
            font-size: 16px;
            font-weight: 400;
            padding: 10px;
            background-color: #004783;
            color: white;
            margin: 0;
            border-radius: 2px 2px 0 0;
        }
        #iw-container .iw-content {
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            margin-right: 1px;
            max-height: 350px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .iw-content img {
            float: right;
            margin: 0 5px 5px 10px;
        }
        .iw-subTitle {
            font-size: 16px;
            font-weight: 700;
            padding: 5px 0;
        }
        .iw-bottom-gradient {
            position: absolute;
            width: 326px;
            height: 25px;
            bottom: 10px;
            right: 18px;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        }

        <!--
        #fondo {
            text-align: center;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            background: #FBBF69;
        }
        #fondo:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, #FBBF69 80%, #00000017 95%);
        }-->
    </style>



    <div class="section intro-edu" style="    background: #FFFAF0;">
        <div class="container">
            <div class="intro-edu-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="intro-title"><img src="{{ base_url() }}/images/geo.png" alt=""/></div>
                        <div class="intro-content">
                            <div class="section contact-map">
                                <div style="height: 650px;">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>

        $(document).ready(function () {

            $.ajax({
                type: 'get',
                url: '{{ base_url() }}/listaollascasas',
                data: {},
                success: function (data) {
                    var bounds = new google.maps.LatLngBounds();
                    var mapOptions = {
                        mapTypeId: 'roadmap'
                    };
                    map = new google.maps.Map(document.getElementById('map'), {
                        mapOptions
                    });

                    map.setTilt(50);
                    var mostrarMarcadores = new google.maps.InfoWindow(),
                            data, i;

                    $.each(data, function (i, item) {
                        var position = new google.maps.LatLng(item.latitud, item.longitud);
                        bounds.extend(position);

                        if(item.estado=='2'){
                            var img_icono = "{{ base_url() }}/images/ollav5.png";
                        }else if (item.estado=='5'){
                                   if(item.observaciones=='NO ACTIVA'){
                                        var img_icono = "{{ base_url() }}/images/noactiva.png";
                                    }else if (item.observaciones=='ACTIVA'){
                                        var img_icono = "{{ base_url() }}/images/activa.png";
                                    }
                        }

                        marker = new google.maps.Marker({
                            position: position,
                            map: map,
                            title: item.latitud,
                            icon: img_icono

                        });

                        var c = '<div id="iw-container" class="mayus">' +
                                '<div class="iw-title">' + item.nombre_olla + '</div>' +
                                '<div class="iw-content">' +
                                '<table class="table table-bordered" cellpadding="5">' +
                                '<tbody><tr>' +
                                '<th><b>NOMBRE:</b> </th>' +
                                '<td>' + item.nombre_olla + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th valign="top" align="left"><b>DISTRITO:</b> </th>' +
                                '<td valign="top">' + item.distrito + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th valign="top" align="left"><b>DIRECCIÓN:</b> </th>' +
                                '<td valign="top">' + item.ubicacion + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th valign="top" align="left"><b>NÚMERO DE PERSONAS BENEFICIADAS:</b> </th>' +
                                '<td valign="top">' + item.total_beneficiadas + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th valign="top" align="left"><b>CONTACTO:</b> </th>' +
                                '<td valign="top">' + item.nombre_contacto + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '<th valign="top" align="left"><b>TELÉFONO:</b> </th>' +
                                '<td valign="top">' + item.celular_contacto + '<br></td>' +
                                '</tr>' +
                                '<tr>' +
                                '</tr>' +
                                '</tbody>' +
                                '</table>' +
                                '<img src="' + item.foto + '" width="100%" height="auto">' +
                                '</div>';


                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                mostrarMarcadores.setContent(c);
                                mostrarMarcadores.open(map, marker);
                            }
                        })(marker, i));
                        // Centramos el Mapa de Google para que todos los marcadores se puedan ver
                        map.fitBounds(bounds);
                    });

                      var src = "http://ollascomunes.gpvlima.com/public/mapas/limites2.kmz";

                    var kmlLayer = new google.maps.KmlLayer(src, {
                        suppressInfoWindows: true,
                        preserveViewport: true,
                        map: map
                    });
                    // Aplicamos el evento 'bounds_changed' que detecta cambios en la ventana del Mapa de Google, también le configramos un zoom de 14
                    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                        this.setZoom(11);
                        google.maps.event.removeListener(boundsListener);
                    });
                },
                error: function () {
                }
            });
        });

    </script>

{% endblock content %}
