{% extends 'templates/app.twig' %}
{% block content %}

    <div id="load">
    </div>


    <div id="wrapper-content">
        <div id="page-wrapper">
            <div class="main-content">
                <div class="content">


                    <div class="section section-padding choose-course">
                        <div class="container">

                            <div class="section teacher-course">
                                <div class="container teacher-course-wrapper">
                                    <div class="course-table">
                                    <table id="example"
                                           class="mayus display compact table table-striped table-bordered dt-responsive ">
                                        <thead>
                                        <tr class="heading-table">
                                            <th>NOMBRE</th>
                                            <th>DISTRITO</th>
                                            <th>FECHA REGISTRO</th>
                                            <th>ESTADO</th>
                                            <th>EDITAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ollas in OllasController.ollas %}
                                            <tr>
                                                <td>
                                                    {{ ollas.nombre_olla }}
                                                </td>
                                                <td>{{ ollas.distrito }}</td>
                                                <td>{{ ollas.date_publication }}</td>
                                                <td>
                                                    {% if ollas.estado == 1 %}
                                                        <span class='label label-success'>Activado</span>
                                                    {% else %}
                                                        <span class='label label-warning'>Desactivado</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a class="btn-default"
                                                       data-target="#EditarOlla"
                                                       id="modalEditar"
                                                       data-toggle="modal"
                                                       data-codigo="{{ ollas.id }}">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EditarOlla" name="modalEditar" tabindex="-1" role="dialog"
         aria-labelledby="EditarOlla">
        <div class="modal-dialog modal-info fade in modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
                                                                                                      style="color:#fff;">&times;</span>
                    </button>
                    <h4 class="modal-title modtitle"><strong> DATOS DE LA OLLA COMÚN </strong></h4>
                </div>
                <div class="modal-body">

                    <div class="contact-main-wrapper">
                        <form class="bg-w-form contact-form" method="post" autccomplete="off"
                              id="FormActualizarOlla">
                            <div class="row">

                                <input value="" id="id" name="id" type="hidden">

                                <div class="col-md-6">
                                    <label class="control-label form-label">NOMBRE DEL COMEDOR<span
                                                class="highlight">*</span></label>
                                    <input type="text" placeholder="Ingrese el nombre del comedor" id="nombre_olla"
                                           name="nombre_olla"
                                           data-content="Usted debe ingresar el nombre del comedor"
                                           class="form-control form-input obligate" value="">
                                </div>

                                <div class="col-md-6">
                                    <label class="control-label form-label">DIRECCIÓN DEL COMEDOR <span
                                                class="highlight">*</span></label>
                                    <input type="text" placeholder="Ingrese la dirección del comedor"
                                           id="ubicacion" name="ubicacion"
                                           class="form-control form-input obligate"
                                           data-content="Usted debe ingresar la dirección del comedor."
                                           value="">
                                </div>


                                <div class="col-md-6">
                                    <label class="control-label form-label">DISTRITO <span
                                                class="highlight">*</span></label>
                                           <select class="form-control form-select obligate" id="distrito" value=""
                                                   name="distrito"
                                                   data-content="Usted debe seleccionar el estado.">
                                               <option value="1251">CERCADO DE LIMA</option>
                                               <option value="1252">ANCON</option>
                                               <option value="1253">ATE</option>
                                               <option value="1254">BARRANCO</option>
                                               <option value="1255">BREÑA</option>
                                               <option value="1256">CARABAYLLO</option>
                                               <option value="1257">CHACLACAYO</option>
                                               <option value="1258">CHORRILLOS</option>
                                               <option value="1259">CIENEGUILLA</option>
                                               <option value="1260">COMAS</option>
                                               <option value="1261">EL AGUSTINO</option>
                                               <option value="1262">INDEPENDENCIA</option>
                                               <option value="1263">JESUS MARIA</option>
                                               <option value="1264">LA MOLINA</option>
                                               <option value="1265">LA VICTORIA</option>
                                               <option value="1266">LINCE</option>
                                               <option value="1267">LOS OLIVOS</option>
                                               <option value="1268">LURIGANCHO</option>
                                               <option value="1269">LURIN</option>
                                               <option value="1270">MAGDALENA DEL MAR</option>
                                               <option value="1271">MAGDALENA VIEJA</option>
                                               <option value="1272">MIRAFLORES</option>
                                               <option value="1273">PACHACAMAC</option>
                                               <option value="1274">PUCUSANA</option>
                                               <option value="1275">PUENTE PIEDRA</option>
                                               <option value="1276">PUNTA HERMOSA</option>
                                               <option value="1277">PUNTA NEGRA</option>
                                               <option value="1278">RIMAC</option>
                                               <option value="1279">SAN BARTOLO</option>
                                               <option value="1280">SAN BORJA</option>
                                               <option value="1281">SAN ISIDRO</option>
                                               <option value="1282">SAN JUAN DE LURIGANCHO</option>
                                               <option value="1283">SAN JUAN DE MIRAFLORES</option>
                                               <option value="1284">SAN LUIS</option>
                                               <option value="1285">SAN MARTIN DE PORRES</option>
                                               <option value="1286">SAN MIGUEL</option>
                                               <option value="1287">SANTA ANITA</option>
                                               <option value="1288">SANTA MARIA DEL MAR</option>
                                               <option value="1289">SANTA ROSA</option>
                                               <option value="1290">SANTIAGO DE SURCO</option>
                                               <option value="1291">SURQUILLO</option>
                                               <option value="1292">VILLA EL SALVADOR</option>
                                               <option value="1293">VILLA MARIA DEL TRIUNFO</option>
                                           </select>
                                </div>

                                <div class="col-md-6">
                                    <label class="control-label form-label ">ZONA</label>
                                    <input type="text" placeholder="" id="zona" name="zona"
                                           class="form-control form-input" value="">
                                </div>

                                <div class="col-md-6">
                                    <label class="control-label form-label">AAHH</label>
                                    <input type="text" placeholder="" id="aahh" name="aahh"
                                           class="form-control form-input "
                                           value="">
                                </div>

                                <div class="col-md-6">
                                    <label class="control-label form-label ">NOMBRE DE CONTACTO</label>
                                    <input type="text" placeholder="" id="nombre_contacto" name="nombre_contacto"
                                           class="form-control form-input obligate"
                                           data-content="Usted debe ingresar el nombre del contacto." value="">
                                </div>

                                <div class="col-md-6">
                                    <label class="control-label form-label">CELULAR DE CONTACTO</label>
                                    <input type="number" placeholder="" id="celular_contacto" name="celular_contacto"
                                           class="form-control form-input"
                                           value="" data-content="Usted debe ingresar el celular del contacto.">
                                </div>

                                <div class="col-md-6">
                                    <label class="control-label form-label">Estado<span
                                                class="highlight">*</span>
                                    </label>
                                    <select class="form-control form-select obligate" id="estado" value=""
                                            name="estado"
                                            data-content="Usted debe seleccionar el estado.">
                                        <option value="1">Activar</option>
                                        <option value="2">Desactivar</option>
                                        <option value="3">Eliminar</option>
                                    </select>
                                </div>

                                <div class="col-md-12" style="height: 400px;">
                                    <label class="control-label form-label">GEOLOCALIZACIÓN <span
                                                class="highlight">*</span>
                                    </label>
                                    <div id="map2"></div>
                                </div>


                                <div class="col-md-6">
                                  <label class="control-label form-label">Latitud<span
                                              class="highlight">*</span>
                                  </label>
                                  <input id="latitud_editar" class="obligate form-control form-input" name="latitud_editar"
                                         data-content="Usted debe ubicar el comedor en el mapa."/>
                                </div>

                                <div class="col-md-6">
                                  <label class="control-label form-label">Longitud<span
                                              class="highlight">*</span>
                                  </label>
                                  <input id="longitud_editar" class="obligate form-control form-input" name="longitud_editar"
                                         data-content="Usted debe ubicar el comedor en el mapa."/>
                                </div>





                            </div>

                            <div class="msg"></div>

                            <div class="contact-submit">
                                <button type="button" id="ActualizarOlla" class="btn btn-success">
                                  <span>
                                    ACTUALIZAR INFORMACIÓN
                                  </span>
                                </button>
                            </div>

                            {{ csrf.field | raw }}
                        </form>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalInformation" tabindex="-1" role="dialog" aria-labelledby="myModalInformation">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header mod">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true" style="color:#fff;">&times;</span></button>
                    <h4 class="modal-title modtitle" id="myModalInformation">[ INFORMACIÓN ] </h4>
                </div>
                <div class="modal-body">
                    cargando contenido...espere un momento por favor
                </div>
                <div class="msg"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var base_url = window.location.origin;
        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var output = (day < 10 ? '0' : '') + day + '-' + (month < 10 ? '0' : '') + month + '-' + d.getFullYear();

        $("#periodo").val(output);


        !function (a) {
            "use strict";

            a(function () {
                var b = a(window),
                    c = a(document.body),
                    mensaje = '',
                    tipo = '',
                    codigo = '';


                a("#ModalSolNuevo").on("show.bs.modal", function (b) {
                    var c = a(b.relatedTarget),
                        cod_org = c.data("codigo"),
                        nombre = c.data("nombre"),
                        mensaje = c.data("mensaje"),
                        tipo = c.data("tipo"),
                        e = a(this);
                    document.getElementById("cod_org_sol").value = cod_org;
                    document.getElementById("tipo_solicitud").value = tipo;
                    e.find(".modal-title").text(nombre);
                    e.find(".proceso").text(mensaje);
                    if (tipo == 1) {
                        $('#actualizacion').hide();
                        $('#tipo_mod').last().removeClass("obligate4");
                    } else {

                        $('#actualizacion').show();
                        $('#tipo_mod').last().addClass("obligate4");

                    }


                });

                a("#EditarOlla").on("show.bs.modal", function (b) {

                    var c = a(b.relatedTarget),
                        codigo = c.data("codigo"),
                        e = a(this);

                    e.find(".modal-title").text("HISTORIAL");

                    return $.ajax({
                        type: "get",
                        url: '{{ base_url() }}/editar',
                        data: {
                            codigo: codigo
                        },
                        beforeSend: function () {
                            e.find(".modal-title").text("EDITAR COMEDOR");
                        },
                        success: function (data) {
                            $.each(data, function (i, item) {
                                $('#id').val(item.id),
                                    $('#nombre_olla').val(item.nombre_olla);
                                $('#ubicacion').val(item.ubicacion);
                                $('#distrito').val(item.distrito);
                                $('#nombre_contacto').val(item.nombre_contacto);
                                $('#celular_contacto').val(item.celular_contacto);
                                $('#zona').val(item.zona);
                                $('#aahh').val(item.aahh);
                                $('#estado').val(item.estado);
                                $('#latitud_editar').val(item.latitud);
                                $('#longitud_editar').val(item.longitud);
                                coords = {
                                    lng2: item.longitud,
                                    lat2: item.latitud,
                                };
                                editMapa(coords);
                            });
                        },
                        error: function () {
                        }
                    });

                });

                a("#JuntaDirectiva").on("show.bs.modal", function (b) {
                    var c = a(b.relatedTarget),
                        cod_org = c.data("codigo"),
                        nombre = c.data("nombre"),
                        e = a(this);
                    document.getElementById("cod_org").value = cod_org;

                    e.find(".organizacion-name").text(nombre);
                    e.find(".modal-title").text("ADMINISTRAR JUNTA DIRECTIVA");
                    ListarMiebros(cod_org);
                });

                a("#ActualizarOlla").on("click", function () {
                    var b = a(this), dataString;
                    var holder = '';
                    var exito = true;
                    $(".obligate").each(function () {
                        if ($(this).val() == '') {
                            $(this).focus();
                            holder = $(this).attr("data-content");
                            exito = false;
                            $(".msg").html("").show();
                            $(".msg").html("<div class='alert alert-danger'><i class='fa fa-exclamation-triangle'></i> " + holder + "</div>");
                            setTimeout(function () {
                                $(".msg").fadeOut(1500);
                            }, 1500);
                            return false;
                        }
                    });
                    if (!exito)
                        return false;


                    dataString = $('#FormActualizarOlla').serialize();
                    $.ajax({
                        type: "POST",
                        url: "{{ base_url() }}/actualizar",
                        data: dataString,
                        dataType: 'json',
                        beforeSend: function () {
                            b.button("loading");
                        },
                        success: function (data) {
                            if (data.response == 'si') {
                                $(".msg").html("").show();
                                $(".msg").html(data.message);
                                b.button("reset");
                                setTimeout(function () {
                                    $(".msg").fadeOut(1500);
                                }, 1500);
                            } else {
                                var position = data.indexOf('?');
                                var number = data.substr(0, position).replace(/\s+/g, '');
                                if (number > 0) {
                                    b.button("reset");
                                    $('#EditarOlla').modal('hide')
                                    $('#myModalInformation').find(".modal-body").html("<center>" + data.substr(position + 1, data.length) + "</center>");
                                    $('#myModalInformation').modal('show');
                                    setTimeout(function () {
                                        window.location.href = window.location;
                                    }, 1500);
                                } else {
                                    $(".msg").html("").show();
                                    $(".msg").html(data.message);
                                    setTimeout(function () {
                                        $(".msg").fadeOut(1500);
                                    }, 1000);
                                    b.button("reset");
                                }
                            }


                        },
                        error: function () {
                            console.log("It failed");
                        }
                    })
                });

                a("#RegistrarOrganizacion").on("click", function () {

                    $("#distrito_orgv2").prop("disabled", false);

                    var b = a(this), dataString;
                    var holder = '';
                    var exito = true;
                    $(".obligatev2").each(function () {
                        if ($(this).val() == '') {
                            $("#distrito_orgv2").prop("disabled", true);
                            $(this).focus();
                            holder = $(this).attr("data-content");
                            exito = false;
                            $(".msg2").html("").show();
                            $(".msg2").html("<div class='alert alert-danger'><i class='fa fa-exclamation-triangle'></i> " + holder + "</div>");
                            setTimeout(function () {
                                $(".msg2").fadeOut(1500);
                            }, 1500);
                            return false;
                        }
                    });
                    if (!exito)
                        return false;


                    dataString = $('#FormAgregarOrganizacion').serialize();
                    $.ajax({
                        type: "POST",
                        url: "../organizacion/registrar",
                        data: dataString,
                        dataType: 'json',
                        beforeSend: function () {
                            b.button("loading");
                        },
                        success: function (data) {
                            if (data.response == 'si') {
                                $(".msg2").html("").show();
                                $(".msg2").html(data.message);
                                $("#distrito_orgv2").prop("disabled", true);
                                b.button("reset");
                                setTimeout(function () {
                                    $(".msg2").fadeOut(1500);
                                }, 1500);
                            } else {
                                var position = data.indexOf('?');
                                var number = data.substr(0, position).replace(/\s+/g, '');
                                //alert(data + "=>" + position + " =>" + number + " =>"+number.length);
                                if (number > 0) {
                                    b.button("reset");
                                    $('#AgregarOrganizacion').modal('hide')
                                    $('#myModalInformation').find(".modal-body").html("<center>" + data.substr(position + 1, data.length) + "</center>");
                                    $('#myModalInformation').modal('show');
                                    setTimeout(function () {
                                        window.location.href = window.location;
                                    }, 1500);
                                } else {
                                    $(".msg2").html("").show();
                                    $(".msg2").html(data.message);
                                    setTimeout(function () {
                                        $(".msg2").fadeOut(1500);
                                    }, 1000);
                                    b.button("reset");
                                }
                            }

                        },
                        error: function () {
                            console.log("It failed");
                        }
                    })
                });

                a("#posteliminarsolicitud").on("click", function () {
                    var b = a(this), dataString;
                    var holder = '';
                    var exito = true;
                    $(".obligateeliminar").each(function () {
                        if ($(this).val() == '') {
                            $(this).focus();
                            holder = $(this).attr("data-content");
                            exito = false;
                            $(".msg").html("").show();
                            $(".msg").html("<div class='alert alert-danger'><i class='fa fa-exclamation-triangle'></i> " + holder + "</div>");
                            setTimeout(function () {
                                $(".msg").fadeOut(1500);
                            }, 1500);
                            return false;
                        }
                    });
                    if (!exito)
                        return false;
                    dataString = $('#eliminar_form').serialize();
                    $.ajax({
                        type: "POST",
                        url: "../eliminarsolicitud",
                        data: dataString,
                        beforeSend: function () {
                            b.button("loading");
                        },
                        success: function (data) {
                            var position = data.indexOf('?');
                            var number = data.substr(0, position).replace(/\s+/g, '');
                            // alert(data + "=>" + position + " =>" + number + " =>"+number.length);
                            if (number > 0) {
                                b.button("reset");
                                $('#EliminarSolicitud').modal('hide')
                                $('#myModalInformation').find(".modal-body").html("<center>" + data.substr(position + 1, data.length) + "</center>");
                                $('#myModalInformation').modal('show');
                                ;
                                setTimeout(function () {
                                    window.location.href = window.location;
                                }, 2000);

                            } else {
                                $(".msg").html("").show();
                                // $(".msg").html(data);
                                $(".msg").html("<div class='alert alert-danger'><i class='fa fa-exclamation-triangle'></i> " + holder + "</div>");
                                setTimeout(function () {
                                    $(".msg").fadeOut(1500);
                                }, 1500);
                                b.button("reset");
                            }

                        },
                        error: function () {
                            console.log("It failed");
                        }
                    })
                });

                a("#RegistrarMiembro").on("click", function () {

                    var b = a(this), dataString;
                    var holder = '';
                    var exito = true;
                    $(".obligate3").each(function () {
                        if ($(this).val() == '') {
                            $(this).focus();
                            holder = $(this).attr("data-content");
                            exito = false;
                            $(".msg3").html("").show();
                            $(".msg3").html("<div class='alert alert-danger'><i class='fa fa-exclamation-triangle'></i> " + holder + "</div>");
                            setTimeout(function () {
                                $(".msg3").fadeOut(1500);
                            }, 1500);
                            return false;
                        }
                    });
                    if (!exito)
                        return false;
                    dataString = $('#FormAgregarMiembro').serialize();
                    $.ajax({
                        type: "POST",
                        url: "../juntadirectiva/registrar",
                        data: dataString,
                        dataType: 'json',
                        beforeSend: function () {
                            b.button("loading");
                        },
                        success: function (data) {
                            if (data.response == 'si') {
                                $(".msg3").html("").show();
                                $(".msg3").html(data.message);
                                b.button("reset");
                                setTimeout(function () {
                                    $(".msg3").fadeOut(1500);
                                }, 1500);
                            } else {

                                ListarMiebros(data.org);
                                var position = data.message.indexOf('?');
                                var number = data.message.substr(0, position).replace(/\s+/g, '');
                                if (number > 0) {
                                    b.button("reset");
                                    $('.obligate3').val('');
                                    $('#imgElem').attr('src', '../images/anonimo.png');
                                    $("#provincia").val('');
                                    $("#departamento").val('');
                                    $("#distrito").val('');
                                    $("#descripcion_cargo").val('');
                                    $("#cod_puesto").val('');
                                } else {
                                    $(".msg3").html("").show();
                                    $(".msg3").html(data.message);
                                    setTimeout(function () {
                                        $(".msg2").fadeOut(1500);
                                    }, 1000);
                                    b.button("reset");
                                }
                            }

                        },
                        error: function () {
                            console.log("It failed");
                        }
                    })
                });

                a("#RegistrarSolicitud").on("click", function () {

                    var b = a(this), dataString;
                    var holder = '';
                    var exito = true;
                    $(".obligate4").each(function () {
                        if ($(this).val() == '') {
                            $(this).focus();
                            holder = $(this).attr("data-content");
                            exito = false;
                            $(".msg5").html("").show();
                            $(".msg5").html("<div class='alert alert-danger'><i class='fa fa-exclamation-triangle'></i> " + holder + "</div>");
                            setTimeout(function () {
                                $(".msg5").fadeOut(1500);
                            }, 1500);
                            return false;
                        }
                    });
                    if (!exito)
                        return false;
                    dataString = $('#FormNuevaSolicitud').serialize();
                    $.ajax({
                        type: "POST",
                        url: "../solicitud/registrar",
                        data: dataString,
                        dataType: 'json',
                        beforeSend: function () {
                        },
                        success: function (data) {

                            if (data.solicitud > 0) {
                                $(".msg5").html("").show();
                                $(".msg5").html(data.message);

                                setTimeout(function () {
                                    $(".msg5").fadeOut(1500);
                                }, 1000);

                                setTimeout(function () {
                                    $('#ModalSolNuevo').modal('hide')
                                    ListarSolicitudes(data.organizacion);
                                }, 2000);

                            } else {
                                $(".msg5").html("").show();
                                $(".msg5").html(data.message);
                                b.button("reset");
                                setTimeout(function () {
                                    $(".msg5").fadeOut(1500);
                                }, 1500);
                            }

                        },
                        error: function () {
                            console.log("Error");
                        }
                    })
                });

                a("#ModalSolicitudes").on("show.bs.modal", function (b) {

                    var c = a(b.relatedTarget),
                        cod_org = c.data("codigo"),
                        nombre = c.data("nombre"),
                        mensaje = c.data("mensaje"),
                        tipo = c.data("tipo"),
                        e = a(this);

                    e.find(".modal-title").text(nombre);

                    return $.ajax({
                        type: "get",
                        url: '../solicitud/buscar',
                        data: {codigo: cod_org},
                        dataType: 'json',
                        beforeSend: function () {
                            $("#validaexistencia").html("");
                            ListarSolicitudes(cod_org);
                        },

                        success: function (data) {

                            if (data.response == "si") {

                            } else {

                                $("#validaexistencia").html("<div class='well center-block' style='max-width: 400px;'>" +
                                    "<a class='btn btn-primary btn-lg btn-block'" +
                                    "data-target='#ModalSolNuevo'" +
                                    "data-toggle='modal'" +
                                    "data-codigo='" + cod_org + "'" +
                                    "data-tipo='1'" +
                                    "data-nombre='" + nombre + "'>" +
                                    "REGISTRO NUEVO " +
                                    "<i class=''></i>" +
                                    "</a>" +
                                    "<a class='btn btn-default btn-lg btn-block'" +
                                    "data-target='#ModalSolNuevo'" +
                                    "data-toggle='modal'" +
                                    "data-codigo='" + cod_org + "'" +
                                    "data-tipo='2'" +
                                    "data-mensaje='Complete los datos para continuar con la solicitud'" +
                                    "data-nombre='" + nombre + "'>" +
                                    "ACTUALIZACIÓN " +
                                    "<i class=''></i>" +
                                    "</a></div>");

                            }

                        },

                        error: function () {
                        }

                    });

                });

                a("#ModalDocumentos").on("show.bs.modal", function (b) {
                    var c = a(b.relatedTarget),
                        cod_sol = c.data("codigo"),
                        cod_org = c.data("cod_org"),
                        e = a(this);
                    $('#codigoorghelpn').prop({'value': cod_org});
                    $('#codigoorghelp').prop({'value': cod_org});
                    $('#codorghelapro').prop({'value': cod_org});
                    e.find(".modal-title").text("GESTIONAR SOLICITUD");
                    Buscardocumento(cod_sol);
                });

                a("#ModalArchivar").on("show.bs.modal", function (b) {
                    var c = a(b.relatedTarget),
                        cod_sol = c.data("codigo"),
                        cod_org = c.data("cod_org"),
                        e = a(this);
                    $('#codigoorghelpn').prop({'value': cod_org});
                    $('#codigoorghelp').prop({'value': cod_org});
                    $('#codorghelapro').prop({'value': cod_org});
                    e.find(".modal-title").text("ARCHIVAR SOLICITUD");
                    Buscardocumento(cod_sol);
                });

            })
        }

        (jQuery), function () {
            "use strict";
            $('#fono').keyup(function () {
                this.value = (this.value + '').replace(/[^0-9]/g, '');
            });

        }();

        $(document).ready(function () {
            $('#example').DataTable({
                pageLength: 10,

                "buttons": [
                    'copy', 'csv', 'excel', 'pdf'
                ],

                "language": {
                    "lengthMenu": "Ver _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Viendo página _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron organizaciones",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },

                "order": [[2, "desc"]],

                columnDefs: [{
                    targets: [0, 1],
                    orderData: [0, 1],
                    orderSequence: ["desc"],
                },
                    {
                        className: 'text-center',
                        targets: [2,3],
                    }
                ]
            });

        });


        initMap();

        var marker;
        var coords = {};

        function initMap() {
            coords = {
                lng: -77.03146290121919,
                lat: -12.045291343726586,
                lng2: -77.03146290121919,
                lat2: -12.045291343726586,
            };
            setMapa(coords);
        }

        function setMapa(coords) {

            var map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 17,
                    center: new google.maps.LatLng(coords.lat, coords.lng),
                });


            var src = "http://ruoslima.com/public/mapas/limites.kmz";

            var kmlLayer = new google.maps.KmlLayer(src, {
                suppressInfoWindows: true,
                preserveViewport: true,
                map: map
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: new google.maps.LatLng(coords.lat, coords.lng),
            });

            //--------------------------------------------------------------
            var map2 = new google.maps.Map(document.getElementById('map2'),
                {
                    zoom: 14,
                    center: new google.maps.LatLng(coords.lat2, coords.lng2),
                    styles: [{
                        elementType: 'labels.icon',
                        stylers: [{visibility: 'off'}]
                    }]
                });

            var kmlLayer = new google.maps.KmlLayer(src, {
                suppressInfoWindows: true,
                preserveViewport: true,
                map: map2
            });

            marker2 = new google.maps.Marker({
                map: map2,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: new google.maps.LatLng(coords.lat2, coords.lng2),
            });
            //--------------------------------------------------------------

            marker.addListener('click', toggleBounce);
            marker2.addListener('click', toggleBounce);

            marker.addListener('dragend', function (event) {
                $('#longitud').val(this.getPosition().lng());
                $('#latitud').val(this.getPosition().lat());
                $('#longitud_editar').val(this.getPosition().lng());
                $('#latitud_editar').val(this.getPosition().lat());
            });

            marker2.addListener('dragend', function (event) {
                $('#longitud').val(this.getPosition().lng());
                $('#latitud').val(this.getPosition().lat());
                $('#longitud_editar').val(this.getPosition().lng());
                $('#latitud_editar').val(this.getPosition().lat());
            });


        }


        function editMapa(coords) {

            var src = "http://ruoslima.com/public/mapas/limites.kmz";

            //--------------------------------------------------------------
            var map2 = new google.maps.Map(document.getElementById('map2'),
                {
                    zoom: 11,
                    center: new google.maps.LatLng(coords.lat2, coords.lng2),
                    styles: [{
                        elementType: 'labels.icon',
                        stylers: [{visibility: 'off'}]
                    }]
                });

            var kmlLayer = new google.maps.KmlLayer(src, {
                suppressInfoWindows: true,
                preserveViewport: true,
                map: map2
            });

            marker2 = new google.maps.Marker({
                map: map2,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: new google.maps.LatLng(coords.lat2, coords.lng2),
            });
            //--------------------------------------------------------------

            marker2.addListener('click', toggleBounce);

            marker2.addListener('dragend', function (event) {
                $('#longitud_editar').val(this.getPosition().lng());
                $('#latitud_editar').val(this.getPosition().lat());
            });

        }

        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }


            if (marker2.getAnimation() !== null) {
                marker2.setAnimation(null);
            } else {
                marker2.setAnimation(google.maps.Animation.BOUNCE);
            }


        }

        $(document).on('show.bs.modal', '.modal', function (event) {
            var zIndex = 1040 + (10 * $('.modal:visible').length);
            $(this).css('z-index', zIndex);
            setTimeout(function () {
                $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
            }, 0);
        });

    </script>

{% endblock content %}
